<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
  <sources>
   <source name="System.ServiceModel.MessageLogging">
    <listeners>
     <add type="System.Diagnostics.DefaultTraceListener" name="Default">
      <filter type="" />
     </add>
     <add initializeData="C:\logs\messages.svclog" type="System.Diagnostics.XmlWriterTraceListener"
      name="messages" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
      <filter type="" />
     </add>
    </listeners>
   </source>
  </sources>
  <trace autoflush="true" />
 </system.diagnostics>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <wsHttpBinding>
    <binding name="ExStreamWCFBinding" maxReceivedMessageSize="700000"
     messageEncoding="Mtom">
     <readerQuotas maxArrayLength="700000" />
    </binding>
    <binding name="NewBinding0" />
   </wsHttpBinding>
  </bindings>
		<diagnostics wmiProviderEnabled="true" performanceCounters="Default">
   <messageLogging logEntireMessage="true" logMalformedMessages="false"
    logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
    maxMessagesToLog="700000000" maxSizeOfMessageToLog="700000000" />
  </diagnostics>
  <services>
   <service behaviorConfiguration="mexBehaviour" name="Voyage_Guide.Voyage_Guide_Services">
    <endpoint address="RegisterService" binding="wsHttpBinding" bindingConfiguration="NewBinding0"
     contract="Voyage_Guide.IRegisterService" />
    <endpoint address="AuthService" binding="wsHttpBinding" contract="Voyage_Guide.IAuthService" />
    <endpoint address="DataService" binding="wsHttpBinding" bindingConfiguration="ExStreamWCFBinding"
     contract="Voyage_Guide.IVoyageDataSerrvice" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8080" />
     </baseAddresses>
    </host>
   </service>
  </services>
		
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>